body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(19, 18, 23);
}

main{
    margin: 50px 200px;
    width: calc(100% - 400px); /* Subtracting left and right margins */
    display: flex;
    background-color: rgb(27, 27, 27);
}

    /* 
    media queries for reponsive design
    */
@media (max-width: 1000px){
    main{
        margin: 0;
        width: 1000px;
    }
}   

/***************
   PROFILE DIV
***************/

.profile{
    font-size: 10px;

    width: 500px;
    padding: 20px;

    border-color: blue;
    display: flex;
    column-gap: 20px;
}

.profile-picture{
    height: 200px;
    width: 200px;
    min-width: 200px;
}

.profile-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-information h2,
.profile-information p,
.profile-information h3 {
    color: white;
}

/***************
   CONTENT DIV
***************/

.content{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex: 1;
    
    padding: 20px;
    border-color: green;
}

.header{
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 5px;

    display: flex;
    justify-content: space-evenly;
}

.header button{
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
    transition: 0.5s;
    color: white;
}

.header button:active{
    border-bottom: solid;
    border-color: white;
}

/***************
   body DIV
***************/

    /* Project tab */

.body{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    border: none;
}

.project-container{
    aspect-ratio: 37/32;
    padding: 10px;
}

.project-thumbnail{
    height: 90%;
}

.project-thumbnail img{
    height: 100%;
    width: 100%;
}

.project-title{
    height: 10%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

 /* Resume tab */
 .centered-resume{
    display: flex;
    justify-content: center;
 }