body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(19, 18, 23);
    color: white;
    position: relative;
}

.footer-div{
    height: 50px;
    background-color: red;

    text-align: center;

    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

body a{
    text-decoration: none;
}

main{
    margin: 50px 200px;
    margin-left: auto;
    margin-right: auto;

    max-width: 1000px;

    display: flex;
}

/***************
    MEDIA QUERIES
***************/
   
/* mobile view */
@media screen and (max-width: 420px){
    main{
        margin: 0;
        flex-direction: column;
    }

    .body-contact{
        column-gap: 10px;
    }

    .message-box input{
        width: 100%;
    }
}


/***************
   PROFILE DIV
***************/

.profile{
    box-sizing: border-box;
    font-size: 10px;

    flex: 0.4;
    padding: 20px;

    border-color: blue;
    display: flex;
    column-gap: 20px;
}

.profile-picture{
    flex: 1;
}

.profile-picture img{
    aspect-ratio: 1/1;
    width: 100%;
    min-width: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-information{
    height: 200px;
    flex: 1;
}

.profile-information :is(h2,h3,p) {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.profile-information h2{
    margin-top: 40px;
    font-size: 10px;
}

.profile-information p{
    font-size: 30px;
    margin: 0;
}
/***************
   CONTENT DIV
***************/

.content{
    display: flex;
    flex: .6;
    flex-direction: column;

    row-gap: 10px;
    padding: 20px;
    border-color: green;
}

.header{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: thin solid;

    padding-bottom: 5px;

    display: flex;
    justify-content: space-evenly;
}

.header button{
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
    transition: 0.5s;
    color: white;
}

.header button:active{
    border-bottom: solid;
}

.body{
    width: 100%;
}

/***************
   body DIV
***************/

    /* Project tab */

.body-project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}

.project-container{
    aspect-ratio: 37/32;
    padding: 10px;
    background-color: rgb(27, 27, 27);
}

.project-thumbnail{
    height: 90%;
}

.project-thumbnail img{
    height: 100%;
    width: 100%;
}

.project-title{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
}

    /* Resume tab */

 .centered-resume{
    display: flex;
    justify-content: center;
 }

 .centered-resume img{
    aspect-ratio: 23/32;
    width: 100%;
 }


    /* Contact tab */

.body-contact{
    display: flex;
}

.contact-info{
    flex: 1;
}

.body-contact h1{
    font-size: 20px;
    font-family: "Wix Madefor Text", sans-serif;
    font-weight: 400;
}

.message-box{
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: rgb(27, 27, 27);
    padding: 20px;
}

.message-box input{
    background-color: transparent;
    padding: 5px;
    border-color: white;
    border-width: thin;
    border-radius: 5px;
    color: white;
}

.message-box input::placeholder{
    color: white;
}

.message-input{
    height: 70px;
}

.message-box button{
    background-color: rgb(181, 159, 220);
    border-radius: 15px;
    height: 30px;
}